In [ ]:
import pandas as pd
import numpy as np
import collections

In [ ]:
doc1 = "Harry Potter is an amazing movie!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry potter is so great"

In [ ]:
import re
doc1 = re.sub(r"[^a-zA-Z0-9]"," ",doc1.lower()).split()
doc2 = re.sub(r"[^a-zA-Z0-9]"," ",doc2.lower()).split()
doc3 = re.sub(r"[^a-zA-Z0-9]"," ",doc3.lower()).split()

In [ ]:
doc1

['harry', 'potter', 'is', 'an', 'amazing', 'movie']

In [ ]:
doc2

['harry', 'potter', 'is', 'the', 'best', 'movie']

In [ ]:
doc3

['harry', 'potter', 'is', 'so', 'great']

In [ ]:
all_words = set(doc1+doc2+doc3)
all_words

{'amazing',
 'an',
 'best',
 'great',
 'harry',
 'is',
 'movie',
 'potter',
 'so',
 'the'}

In [ ]:
def BOWrepresentation(all_words, doc):
  bow = dict.fromkeys(all_words,0)
  for word in doc:
    bow[word] = doc.count(word)
  return bow

In [ ]:
bow1 = BOWrepresentation(all_words,doc1)
bow1

{'so': 0,
 'the': 0,
 'best': 0,
 'harry': 1,
 'movie': 1,
 'amazing': 1,
 'is': 1,
 'an': 1,
 'great': 0,
 'potter': 1}

In [ ]:
bow2 = BOWrepresentation(all_words,doc2)
bow3 = BOWrepresentation(all_words,doc3)
df_bow = pd.DataFrame([bow1,bow2,bow3])
df_bow

   so  the  best  harry  movie  amazing  is  an  great  potter
0   0    0     0      1      1        1   1   1      0       1
1   0    1     1      1      1        0   1   0      0       1
2   1    0     0      1      0        0   1   0      1       1

# Scikit Learn

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(binary=True) # Sentiment classification
doc1 = "Harry Potter is an amazing movie!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry potter is so great"
cv_out = cv.fit_transform([doc1,doc2,doc3])

In [ ]:
cv_out.toarray()

array([[1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
       [0, 0, 1, 0, 1, 1, 1, 1, 0, 1],
       [0, 0, 0, 1, 1, 1, 0, 1, 1, 0]])

In [ ]:
pd.DataFrame(cv_out.toarray(), columns= cv.get_feature_names_out())

   amazing  an  best  great  harry  is  movie  potter  so  the
0        1   1     0      0      1   1      1       1   0    0
1        0   0     1      0      1   1      1       1   0    1
2        0   0     0      1      1   1      0       1   1    0

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer() # Counting of how many times a word is being used
doc1 = "Harry Potter is an amazing movie , harry!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry potter is so great"
cv_out = cv.fit_transform([doc1,doc2,doc3])
pd.DataFrame(cv_out.toarray(), columns= cv.get_feature_names_out())

   amazing  an  best  great  harry  is  movie  potter  so  the
0        1   1     0      0      2   1      1       1   0    0
1        0   0     1      0      1   1      1       1   0    1
2        0   0     0      1      1   1      0       1   1    0

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,3)) # unigram, bigram, trigram
doc1 = "Harry Potter is an amazing movie , harry!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry potter is so great"
cv_out = cv.fit_transform([doc1,doc2,doc3])
pd.DataFrame(cv_out.toarray(), columns= cv.get_feature_names_out())

,amazing,amazing movie,amazing movie harry,an,an amazing,an amazing movie,best,best movie,great,harry,...,potter,potter is,potter is an,potter is so,potter is the,so,so great,the,the best,the best movie
0,1,1,1,1,1,1,0,0,0,2,...,1,1,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,1,0,1,...,1,1,0,0,1,0,0,1,1,1
2,0,0,0,0,0,0,0,0,1,1,...,1,1,0,1,0,1,1,0,0,0