In [ ]:
#Important - when a word is repeated most in a document, but not present in any other document  (sentence)
# Stopwords  - score will be less
# unique words repeated in a sentece - score will be high

#neural_network

In [ ]:
import pandas as pd
import math
import sklearn

In [ ]:
first_sent = "Data Science is an Amazing career in the current world"
second_sent = "Deep learning is a subset of machine learning"

first_sent = first_sent.split(" ")
second_sent = second_sent.split(' ')
vocab = set(first_sent).union(set(second_sent))
vocab

{'Amazing',
 'Data',
 'Deep',
 'Science',
 'a',
 'an',
 'career',
 'current',
 'in',
 'is',
 'learning',
 'machine',
 'of',
 'subset',
 'the',
 'world'}

In [ ]:
wordDict1 = dict.fromkeys(vocab,0)
wordDict2 = dict.fromkeys(vocab,0)
wordDict1

{'machine': 0,
 'learning': 0,
 'is': 0,
 'a': 0,
 'in': 0,
 'of': 0,
 'career': 0,
 'Amazing': 0,
 'the': 0,
 'subset': 0,
 'Science': 0,
 'world': 0,
 'an': 0,
 'Deep': 0,
 'Data': 0,
 'current': 0}

In [ ]:
wordDict2

{'machine': 0,
 'learning': 0,
 'is': 0,
 'a': 0,
 'in': 0,
 'of': 0,
 'career': 0,
 'Amazing': 0,
 'the': 0,
 'subset': 0,
 'Science': 0,
 'world': 0,
 'an': 0,
 'Deep': 0,
 'Data': 0,
 'current': 0}

In [ ]:
for word in first_sent:
  wordDict1[word] += 1

for word in second_sent:
  wordDict2[word] += 1

In [ ]:
wordDict1

{'machine': 0,
 'learning': 0,
 'is': 1,
 'a': 0,
 'in': 1,
 'of': 0,
 'career': 1,
 'Amazing': 1,
 'the': 1,
 'subset': 0,
 'Science': 1,
 'world': 1,
 'an': 1,
 'Deep': 0,
 'Data': 1,
 'current': 1}

In [ ]:
second_sent

['Deep', 'learning', 'is', 'a', 'subset', 'of', 'machine', 'learning']

In [ ]:
wordDict2

{'machine': 1,
 'learning': 2,
 'is': 1,
 'a': 1,
 'in': 0,
 'of': 1,
 'career': 0,
 'Amazing': 0,
 'the': 0,
 'subset': 1,
 'Science': 0,
 'world': 0,
 'an': 0,
 'Deep': 1,
 'Data': 0,
 'current': 0}

In [ ]:
df = pd.DataFrame([wordDict1,wordDict2])
df

,machine,learning,is,a,in,of,career,Amazing,the,subset,Science,world,an,Deep,Data,current
0,0,0,1,0,1,0,1,1,1,0,1,1,1,0,1,1
1,1,2,1,1,0,1,0,0,0,1,0,0,0,1,0,0

In [ ]:
#tf = freq of a word in a document/total number of words in a document

def calculateTF(wordDict, doc):
  tfDict = {}
  len_corpus = len(doc)

  for word,count in wordDict.items():
    tfDict[word] = count/len_corpus
  
  return tfDict

In [ ]:
tf1 = calculateTF(wordDict1,first_sent)
tf2 = calculateTF(wordDict2,second_sent)

In [ ]:
tf = pd.DataFrame([tf1,tf2])
tf

,machine,learning,is,a,in,of,career,Amazing,the,subset,Science,world,an,Deep,Data,current
0,0.000,0.00,0.100,0.000,0.1,0.000,0.1,0.1,0.1,0.000,0.1,0.1,0.1,0.000,0.1,0.1
1,0.125,0.25,0.125,0.125,0.0,0.125,0.0,0.0,0.0,0.125,0.0,0.0,0.0,0.125,0.0,0.0

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords.words('english')

In [ ]:
f1 = [word for word in wordDict1 if word.lower() not in stopwords.words('english') ]
f2 = [word for word in wordDict2 if word.lower() not in stopwords.words('english') ]

In [ ]:
f1

['machine',
 'learning',
 'career',
 'Amazing',
 'subset',
 'Science',
 'world',
 'Deep',
 'Data',
 'current']

In [ ]:
f2

['machine',
 'learning',
 'career',
 'Amazing',
 'subset',
 'Science',
 'world',
 'Deep',
 'Data',
 'current']

In [ ]:
def calculateIDF(doc):
  idfDict = {}
  len_doc = len(doc)

  idfDict = dict.fromkeys(doc[0].keys(), 0)
  for word, val in idfDict.items():
      idfDict[word] = math.log10(len_doc / (float(val) + 1))
        
  return(idfDict)

In [ ]:
wordDict1

In [ ]:
idfs = calculateIDF([wordDict1, wordDict2])

In [ ]:
idfs

{'machine': 0.3010299956639812,
 'learning': 0.3010299956639812,
 'is': 0.3010299956639812,
 'a': 0.3010299956639812,
 'in': 0.3010299956639812,
 'of': 0.3010299956639812,
 'career': 0.3010299956639812,
 'Amazing': 0.3010299956639812,
 'the': 0.3010299956639812,
 'subset': 0.3010299956639812,
 'Science': 0.3010299956639812,
 'world': 0.3010299956639812,
 'an': 0.3010299956639812,
 'Deep': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'current': 0.3010299956639812}

In [ ]:
tf1

{'machine': 0.0,
 'learning': 0.0,
 'is': 0.1,
 'a': 0.0,
 'in': 0.1,
 'of': 0.0,
 'career': 0.1,
 'Amazing': 0.1,
 'the': 0.1,
 'subset': 0.0,
 'Science': 0.1,
 'world': 0.1,
 'an': 0.1,
 'Deep': 0.0,
 'Data': 0.1,
 'current': 0.1}

In [ ]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)
idf1 = computeTFIDF(tf1, idfs)
idf2 = computeTFIDF(tf2, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idf1, idf2])
idf

,machine,learning,is,a,in,of,career,Amazing,the,subset,Science,world,an,Deep,Data,current
0,0.000000,0.000000,0.030103,0.000000,0.030103,0.000000,0.030103,0.030103,0.030103,0.000000,0.030103,0.030103,0.030103,0.000000,0.030103,0.030103
1,0.037629,0.075257,0.037629,0.037629,0.000000,0.037629,0.000000,0.000000,0.000000,0.037629,0.000000,0.000000,0.000000,0.037629,0.000000,0.000000

# Sklearn library

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
first_sent = "Data Science is an Amazing career in the current world"
second_sent = "Deep learning is a subset of machine learning"

vec = TfidfVectorizer()
result = vec.fit_transform([first_sent,second_sent])
result.toarray()

array([[0.32433627, 0.32433627, 0.32433627, 0.32433627, 0.32433627,
        0.        , 0.32433627, 0.23076793, 0.        , 0.        ,
        0.        , 0.32433627, 0.        , 0.32433627, 0.32433627],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.34287126, 0.        , 0.24395573, 0.68574252, 0.34287126,
        0.34287126, 0.        , 0.34287126, 0.        , 0.        ]])

In [ ]:
pd.DataFrame(result.toarray(),columns= vec.get_feature_names_out())

,amazing,an,career,current,data,deep,in,is,learning,machine,of,science,subset,the,world
0,0.324336,0.324336,0.324336,0.324336,0.324336,0.000000,0.324336,0.230768,0.000000,0.000000,0.000000,0.324336,0.000000,0.324336,0.324336
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.342871,0.000000,0.243956,0.685743,0.342871,0.342871,0.000000,0.342871,0.000000,0.000000